.custom-card {
    max-width: 15rem;
    align-items: center;
}

.card-img-top{
    width: 14rem !important;
    padding-top: 0.5rem;
}

.custom-text-footer-card{
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-title{
    line-height: 50px;
}

.custome-card-title{
    height: 75px;
}

.custome-rating{
    padding: 0 !important;
    margin-bottom: 30px ;
}

.select-hover:hover{
    z-index: 100000;
    transform: translateY(-10px) scale(1.005) translateZ(0) !important;
    border-color:rgb(112, 245, 163, 0.11) !important;
    box-shadow: 0 0.225rem 0.75rem rgb(0 0 0 / 8%) !important
}