<template>
    <div class="container">
        <br>
        <div class="row">
            <b-card-group
                v-for="data in this.data"
                :key="data.id"
            >
                <b-card
                    class="custom-card select-hover border-0"
                    :img-src="data.image_url"
                    img-alt="Image"
                    img-top
                >
                    <div class="custome-card-title">
                        <b-card-sub-title>
                            {{data.title}}
                        </b-card-sub-title>
                    </div>
                    <b-card-text>
                        {{data.created_at}}
                    </b-card-text>
                        <b-form-rating
                            v-model="data.vote"
                            readonly
                            no-border
                            color="#e93223"
                            inline
                            class="custome-rating"
                        ></b-form-rating>
                    <b-card-text>
                        {{data.price}}
                    </b-card-text>
                </b-card>
            </b-card-group>
        </div>
    </div>
</template>

<script>
    export default {
        props : ['datas'],
        mounted() {
            console.log(this.data);
        },
        data(){
            return{
                data: JSON.parse(this.datas),
            }
        },
    }
</script>
